.section__maps {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
  background-color: var(--tertiary-color);
  cursor: url(/media/icon/default__black.png), auto;
}

.section__maps div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 25px;
  width: 95%;
  height: 100%;
}

.section__maps h2 {
  padding: 5px;
  margin: 5px;
  font-family: 'Anton', sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--title-secondary);
  text-shadow: none;
}

.section__maps h2::selection {
  color: white;
  background: var(--primary-color);
}

.section__maps iframe {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 95%;
  height: 250px;
  border: none;
}

.section__maps iframe::selection {
  background: var(--primary-color);
}

@media (min-width: 768px) {
  .section__maps div {
    padding: 25px 25px;
    width: 50%;
  }

  .section__maps .div__container__maps {
    padding-left: 40px;
  }
}

@media (min-width: 1024px) {
  .section__maps {
    padding-top: 50px;
  }

  .section__maps div {
    align-items: flex-start;
    padding-left: 180px;
    max-width: 630px;
  }

  .section__maps h2 {
    font-size: 3rem;
  }

  .section__maps iframe {
    margin: 0;
    margin-bottom: 45px;
    width: 80%;
    height: 30rem;
  }
}
