.div__social_media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
}

.div__social_media ul {
  list-style: none;
}

.div__social_media li {
  display: inline-block;
  margin: 0;
}

.div__social_media li a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 7px;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 0;
  color: white;
  text-decoration: none;
}

.div__social_media li a:hover>path {
  fill: var(--secondary-color);
}

.div__social_media svg {
  width: 3.5rem;
  height: 3.5rem;
}

.div__social_media svg:active {
  transform: scale(0.9);
}

.div__social_media li svg:hover>path {
  fill: var(--secondary-color);
}

.div__social_media path:hover {
  fill: var(--secondary-color);
}

.div__social_media .icon_svg_contact {
  fill: var(--contact-text-color);
}

.div__social_media .icon_svg_contact:hover {
  fill: var(--secondary-color);
}

@media (min-width: 768px) {
  .div__social_media {
    justify-content: flex-start;
  }
}