.section__excursiones__individuales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 25px 30px;
  max-width: 1440px;
}

.section__excursiones__individuales h2 {
  margin: 5px auto;
  padding: 5px;
  font-size: 3rem;
  color: var(--secondary-color);
  text-align: center;
  font-weight: 900;
  text-shadow: 0.5px 0.5px 1px black;
}

.section__excursiones__individuales h3 {
  margin: 5px;
  padding: 5px;
  font-size: 2.2rem;
  text-align: start;
  color: var(--title-secondary);
}

/* .section__excursiones__individuales div {
  width: 100%;
} */

.section__excursiones__individuales p {
  margin: 5px;
  padding: 5px;
  font-size: var(--font-size__mobile);
  line-height: 3rem;
}

.section__excursiones__individuales .ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 7px;
  margin-left: 20px;
  color: var(--white);
}

.section__excursiones__individuales .ul ul {
  display: list-item;
  margin: 5px;
  padding: 5px;
  font-size: var(--font-size__mobile);
  line-height: 3rem;
  list-style: disc;
}

.section__excursiones__individuales .ul li {
  display: list-item;
  margin: 5px;
  padding: 5px;
  font-size: var(--font-size__mobile);
  line-height: 3rem;
  list-style: disc;
  text-align: start;
}

.section__excursiones__individuales .ul p {
  margin: 0;
  padding: 0;
  font-size: var(--font-size__mobile);
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0px;
  color: var(--secondary-color);
}

.excursiones_individuales__button-reserva svg {
  margin-right: 10px;
  fill: white;
}

@media (min-width: 700px) {
  .section__excursiones__individuales {
    padding: 25px 65px;
  }
}

@media (min-width: 1024px) {
  .section__excursiones__individuales {
    padding: 25px 90px;
  }

  .section__excursiones__individuales h2 {
    font-size: var(--title-size__laptop);
  }

  .section__excursiones__individuales h3 {
    font-size: 3.4rem;
  }

  .section__excursiones__individuales p {
    font-size: var(--font-size__laptop);
  }

  .section__excursiones__individuales .ul ul {
    font-size: var(--font-size__laptop);
  }

  .section__excursiones__individuales .ul p {
    font-size: var(--font-size__laptop);
  }

  .section__excursiones__individuales .ul li {
    font-size: var(--font-size__laptop);
    line-height: 4rem;
  }

  .excursiones-individuales__button-reserva {
    height: 6rem;
  }
}

@media (min-width: 1200px) {
  .section__excursiones__individuales {
    padding: 25px 225px;
  }
}