.section__excursiones {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: var(--tertiary-color);
  cursor: url(/media/icon/default__black.png), auto;
}

.section__excursiones hr {
  width: calc(100% - 60px);
  border: 1px solid var(--secondary-color);
}

.div__container_excursiones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
}

.div__container_excursiones div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.div__container_excursiones h3 {
  margin: 5px;
  padding: 5px;
  font-size: 2.8rem;
  font-weight: 400;
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
  color: var(--title-secondary);
}

.div__container_excursiones h3::selection {
  color: var(--secondary-color);
  background: var(--primary-color);
}

.div__container_excursiones p {
  margin: 5px;
  padding: 5px;
  font-size: var(--font-size__mobile);
  line-height: 3rem;
}

.div__container_excursiones p::selection {
  color: white;
  background: var(--primary-color);
}

.div__container_excursiones .link {
  font-size: var(--font-size__mobile);
  text-decoration: none;
  color: var(--secondary-color);
}

.div__container_excursiones .link::selection {
  background: var(--primary-color);
}

.div__container_excursiones figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 5px;
  padding: 5px;
  width: 100%;
  height: auto;
}

.div__container_excursiones img {
  width: 100%;
  height: auto;
}

.div__container_excursiones img::selection {
  background: var(--primary-color);
}

@media (min-width: 1024px) {
  .section__excursiones {
    padding: 0 160px;
  }

  .section__excursiones hr {
    width: calc(100% - 50px);
    border: 1.5px solid var(--secondary-color);
  }

  .div__container_excursiones {
    margin: 0;
    flex-direction: row;
  }

  .div__container_excursiones div {
    align-items: flex-start;
    width: 50%;
    padding-right: 20px;
  }

  .div__container_excursiones h3 {
    font-size: 4rem;
    letter-spacing: 2px;
  }

  .div__container_excursiones p {
    font-size: var(--font-size__laptop);
  }

  .div__container_excursiones figure {
    align-items: flex-start;
    width: 50%;
    height: 300px;
  }

  .div__container_excursiones img {
    width: 100%;
    height: 300px;
  }
}
