.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: var(--tertiary-color);
  cursor: url(/media/icon/default__black.png), auto;
}

.ul li {
  display: list-item;
  margin: 5px;
  margin-left: 50px;
  font-size: var(--font-size__mobile);
  line-height: 3rem;
  list-style: circle;
  text-align: start;
}
