.button-whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: auto;
    height: auto;
    border-radius: 50%;
    font-size: var(--font-size__mobile);
    background-color: var(--button-whatsapp);
    box-shadow: 0rem 0.2rem 0.8rem 0.1rem rgb(0 0 0 / 60%);
    cursor: pointer;
    text-decoration: none;
    cursor: url("../../assets/icon/pointer.png"), auto;
}

.button-whatsapp:hover {
    background-color: #21ad55;
    box-shadow: none;
}

.button-whatsapp:active {
    transform: scale(.9);
}

.button-whatsapp svg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    fill: white;
}