.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  width: 100%;
  height: auto;
  background-color: var(--primary-color);
}

.titleContainer h1 {
  margin: 5px;
  padding: 5px;
  font-size: 3.2rem;
  color: var(--secondary-color);
  text-shadow: none;
}

.titleContainer h1::selection {
  color: white;
  background: var(--secondary-color);
}

@media (min-width: 1024px) {
  .titleContainer {
    height: 13rem;
  }
  .titleContainer h1 {
    font-size: var(--title-size__laptop);
  }
}
